@import "../../responsive.scss";

.homePage{
    display: flex;
    height: 100%;
    position: relative;   //added this
    z-index: 0;  // added this

    .textContainer{
        flex: 3;
        
        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;

            @include lg{
                padding-right: 50px;
            }

            @include md{
                padding-right: 0;
            }

            @include sm{
                justify-content: flex-start;
            }

            .title{
                font-size: 64px;

                @include lg {
                    font-size: 48px;
                }
            }

            .boxes{
                display: flex;
                justify-content: space-between;

                @include sm {
                    display: none;
                }

                h1{
                    font-size: 36px;

                    @include lg {
                        font-size: 32px;
                    }
                }

                h2{
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }

    .imgContainer{
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;
        overflow: visible;
        z-index: 0; //added this

        @include md{
            display: none;
        }

        img {
      width: 115%;
      position: absolute;
      right: 0;
      top: 50%;                     // center vertically
      transform: translateY(-50%);  // center vertically
      z-index: 0;                   // push behind
      pointer-events: none;         // ✅ critical: image won’t block clicks
      @include lg {
        width: 105%;
      }
    }
  }
}